.gallery {
  overflow: hidden;
  user-select: none;
  -webkit-user-drag: none;
  .heading {
    margin: 20px 10px;
    h1 {
      font-family: "Forum", sans-serif;
      font-size: 70px;
      text-transform: uppercase;
      text-align: center;
      color: #eec8aa;
      font-weight: 200;
    }
  }
  .images-grid {
    display: flex;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-bottom: 30px;
    img{
      height: 220px;
    }
  }
  .gallery1{
animation-name: continous-slide-left;
  }
  .gallery2 {
    animation-name: continous-slide-right;
  }
  @keyframes continous-slide-left {
    50%{
      transform: translateX(-900px);
    }
    100%{
      transform: translateX(0);
    }
  }
  @keyframes continous-slide-right {
    0%{
      transform: translateX(-700px);
    }
    50%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(-700px);
    }
  }
}
