@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url("./styles/hero.scss");
@import url("./styles/aboutus.scss");
@import url("./styles/keyfeatures.scss");
@import url("./styles/ourwork.scss");
@import url("./styles/gallery.scss");
@import url("./styles/brochure.scss");

* {
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}

@keyframes slide-down{
  0%{
    transform: translateY(-100px);
  }
  100%{
    top: 0;
  }
}

@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes slide-left{
  0%{
    transform: translateX(700px);

  }
  100%{
    transform: translateX(0);
    
  }
}
@keyframes slide-right{
  0%{
    transform: translateX(-300px);
  }
  100%{
    transform: translateX(0);
  }
}
@media(prefers-reduced-motion: "no preference"){
:root {
  scroll-behavior: smooth;
}}